.audio {
  .audio-unique {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    label {
      font-size: 1em;
    }
  }

  button {
    border: white;
    background: white;
    .fas {
      color: #3DB8D8;
      font-size: 3em;

    }

  }

}

