.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: black;
  margin-bottom: 50px;
}

.App-header p {
  color: #3DB8D8;
  font-size: calc(16px + 2vmin);
  font-weight: bold;
}

.app-main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
